<f:be.pageRenderer includeRequireJsModules="{0: 'TYPO3/CMS/Tstemplate/ConstantEditor', 1: 'TYPO3/CMS/Backend/Tabs'}" />

<h3><f:translate key="LLL:EXT:tstemplate/Resources/Private/Language/locallang_ceditor.xlf:editConstants"/></h3>
<f:section name="content">
    <f:for each="{items}" as="fieldInfo">
        <f:if condition="{fieldInfo.type} == 'header'">
            <f:then>
                <h2 style="margin-left:10px;">{fieldInfo.label}</h2>
                <f:if condition="{fieldInfo.description}"><p style='margin-left:10px;'>{fieldInfo.description}</p></f:if>
            </f:then>
            <f:else>
                <fieldset class="form-section {f:if(condition: '{fieldInfo.inline}', then: ' inline')}">
                    <a name="{fieldInfo.identifier}"></a>
                    <div class="form-group">
                        <label class="t3js-formengine-label"><span>{fieldInfo.label}</span><f:if condition="{showConstantName}"><code>[{fieldInfo.name}]</code></f:if></label>
                        <f:if condition="{fieldInfo.description}"><p>{fieldInfo.description  -> f:format.html()}</p></f:if>
                        <f:if condition="{fieldInfo.hint}"><span class="text-muted">{fieldInfo.hint}</span></f:if>
                        {fieldInfo.data -> f:format.raw()}
                    </div>
                </fieldset>
            </f:else>
        </f:if>
    </f:for>
</f:section>

<f:if condition="{f:count(subject: editorFields)}">
    <f:variable name="id" value="DTM-{editorFields.1.items.0.identifier}"/>
    <f:variable name="storeLastActiveTab" value="1"/>
    <f:variable name="wrapContent" value="1"/>
    <f:variable name="defaultTabIndex" value="1"/>
    <div class="tstemplate-constanteditor">
        <div role="tabpanel">
            <ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-{id}" data-store-last-tab="{storeLastActiveTab}">
                <f:for each="{editorFields}" as="group" iteration="iteration">
                    <f:if condition="{group.label}">
                        <li role="presentation" class="t3js-tabmenu-item nav-item">
                            <a href="#{id}-{iteration.cycle}" class="nav-link {f:if(condition: '{iteration.cycle} == {defaultTabIndex}', then: ' active')}" title="{group.linkTitle}" aria-controls="{id}-{iteration.cycle}" role="tab" {dataToggleAttribute}>
                                <f:if condition="{group.icon}">
                                    <f:format.raw>{group.icon}</f:format.raw>
                                </f:if>
                                {group.label}
                                <f:if condition="{group.requiredIcon}">
                                    <f:format.raw>{group.requiredIcon}</f:format.raw>
                                </f:if>
                                <f:if condition="{group.stateIcon}">
                                    <f:render partial="StateIcon" arguments="{item: group}" />
                                </f:if>
                            </a>
                        </li>
                    </f:if>
                </f:for>
            </ul>
            <div class="tab-content">
                <f:for each="{editorFields}" as="group" iteration="iteration">
                    <f:if condition="{group.items}">
                        <div role="tabpanel" class="tab-pane{f:if(condition: '{iteration.cycle} == {defaultTabIndex}', then: ' active')}" id="{id}-{iteration.cycle}">
                            <f:if condition="{group.description}">
                                <div class="panel panel-tab">
                                    <div class="panel-body">
                                        <p><f:format.nl2br>{group.description}</f:format.nl2br></p>
                                    </div>
                                </div>
                            </f:if>
                            <f:if condition="{wrapContent}">
                                <f:then>
                                    <div class="panel panel-tab">
                                        <div class="panel-body">
                                            <f:format.raw><f:render section="content" arguments="{items: group.items}"/></f:format.raw>
                                        </div>
                                    </div>
                                </f:then>
                                <f:else>
                                    <f:format.raw><f:render section="content" arguments="{items: group.items}"/></f:format.raw>
                                </f:else>
                            </f:if>
                        </div>
                    </f:if>
                </f:for>
            </div>
        </div>
    </div>
</f:if>