<f:be.pageRenderer
        addInlineSettings="{addInlineSettings}"
        includeRequireJsModules="{0:'TYPO3/CMS/Constantseditor/ExtConstantsEditor'}" />
<form action="{actionNameConstantEditor}" method="post" enctype="multipart/form-data" id="TypoScriptTemplateModuleController" name="editform" class="form">
    <h1>{moduleTitle}</h1>
    <f:render partial="{partialName}" arguments="{content: content}" optional="1" />
    <f:format.raw>{typoscriptTemplateModuleContent}</f:format.raw>
</form>
<script language="JavaScript" type="text/javascript" src="{f:uri.resource(extensionName:'constantseditor', path:'JavaScript/jscolor/jscolor.js')}" ></script>

