/*10LTS*/
ul#submenu-constantsEditor li .fa {
    color: #ffffff;
    background: #1d75b3;
}
.modulemenu-icon .fa {
    font-size: .5em;
}
/*9LTS*/
#constantsEditor ul.modulemenu-group-container li .fa {
    color: #ffffff;
    background: #1d75b3;
}
#TypoScriptTemplateModuleController .constantseditor-preview {
    display: table-caption;
    flex-basis: 100%;
}
label.t3js-formengine-label {
    margin-bottom: 0;
}
.help-block {
    display: block;
    padding: 2px 0 10px!important;
    font-size: 12px!important;
    margin: 0!important;
}
fieldset.inline {
    width: 220px;
    display: inline-block;
    /*margin-right: -5px;*/
}
#TypoScriptTemplateModuleController .form-section {
    padding: 12px;
}